
@{
    ViewBag.Title = "PasswordReset";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/styles.css" rel="stylesheet" />

<h2>Your Password has Reset Successfully click <a href="~/Home/Index"> Here </a> to login with New Password</h2> 

